<a href="https://colab.research.google.com/github/Mosaraf15/Python-Fundamentals-for-Machine-Learning/blob/main/04_Python_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python data structure
**Md Mosaraf Hossain Khan**,

Chittagang, Bangladesh

#### Objectives:
1. Python Data Structure: List, tuple, dictionary, set

#### References:

Instructor:
**Md Shahidullah Kawsar**,
  Data Scientist, IDARE, Houston, TX, USA

1. Python - Basic Operators: https://github.com/SKawsar/Python_Fundamentals_s2

####**List Slicing**

In [5]:

name = ["abul", "babul", "cabul", "dabul"]
contact = [1111, 2222, 3333, 4444]

phone_contacts = [name, contact]
print(phone_contacts)

print(phone_contacts[0])
print(phone_contacts[1])
print(phone_contacts[0][1])
print(phone_contacts[1][2])

[['abul', 'babul', 'cabul', 'dabul'], [1111, 2222, 3333, 4444]]
['abul', 'babul', 'cabul', 'dabul']
[1111, 2222, 3333, 4444]
babul
3333

#####**Checking length of a string**

In [6]:

print(len(phone_contacts))
print(len(phone_contacts[0]))
print(len(phone_contacts[1]))
print(len(phone_contacts[0][1]))

2
4
4
5

#####**Checking the presence of an element in a list**

In [7]:

"Shafiul" not in phone_contacts

True

###**Insert a new element in the list**

In [8]:
even = [2, 4, 6, 8, 10]
even.insert(2, 0)
print(even)

[2, 4, 0, 6, 8, 10]

In [9]:
even.append(12)

print(even)

[2, 4, 0, 6, 8, 10, 12]

###**How to reverse a list?**

In [10]:
nums = [0,-1,-1,3,9,-9,4,8,7]
nums.reverse()
print(nums)

[7, 8, 4, -9, 9, 3, -1, -1, 0]

###***How to count the frequency of a specific element in a list?***

In [11]:
print(nums.count(-1))

2

###**How to remove an element from a list?**

In [12]:
nums.remove(9)
print(nums)

[7, 8, 4, -9, 3, -1, -1, 0]

In [15]:
nums.pop(4)
print(nums)

[7, 8, 4, -9, -1, -1, 0]

###**How to find the minimum value, maximum value and total sum of a list?**

In [16]:
print("maximum value = ", max(nums))
print("minimum value = ", min(nums))
print("total sum = ", sum(nums))

maximum value =  8
minimum value =  -9
total sum =  8

####***What will happen if you add two lists?***

In [17]:
A = [9, 8, 7, 6]
B = [99, 88, 77, 66]
print("A + B = ", A + B) #will contain all the element of A and B

A + B =  [9, 8, 7, 6, 99, 88, 77, 66]

###**How to sort a list?**

In [18]:
print(sorted(A, reverse= False))
print(sorted(A, reverse= True))

[6, 7, 8, 9]
[9, 8, 7, 6]

###**Tuple**
1. tuple is used with parentheses
2. tuple is immutable --> most important

In [19]:
a = ('the', 'fault', 'in', 'our', 'stars')
print(type(a))

<class 'tuple'>

####**Tuple slicing**

In [20]:
print(a[0])
print(a[-1])
print(a[1:3])

the
stars
('fault', 'in')

###**Immutability**

In [21]:
T = (8, 9, 'absolute', [1, 2])
# T[0] = 2 #will throw an error

####**You cannot change any value inside a tuple and you cannot insert or delete as well**

In [23]:
#some functions that can be used with tuple
Z = (2, 7, 1)
print(len(Z))
print(max(Z))
print(min(Z))
print(sum(Z))
print(Z.count(7))

3
7
1
10
1

**Similarities in List and Tuple**



*   The two data structures are both sequence data types that store collections of items.
*   Items of any data type can be stored in them.


*   Items can be accessed by their index.

**Difference between List and Tuple**


*   List is mutable, whereas a tuple is immutable. This means that lists can be changed, and tuples cannot be changed.

###**Set**


1.   It works with a curly brace--> {}
2.   One item can appear only once
3.   You cannot slice item from set, unlike lists or tuples

In [24]:
A = {12, 13, 14, 12}
print(A) 
print(type(A))
print(len(A))

# convert to list
A_converted = list(A)
print(A_converted)

A = {1, 3, 5, 7, 9}
B = {1, 2, 4, 7, 9}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{12, 13, 14}
<class 'set'>
3
[12, 13, 14]
{1, 2, 3, 4, 5, 7, 9}
{1, 9, 7}
{3, 5}

###Dictionary

In [25]:
phone_contacts = {"abul":1111, "babul":2222, "cabul":3333, "dabul":4444}

print(phone_contacts)
print(phone_contacts["abul"])
print(phone_contacts["babul"])
print(phone_contacts["cabul"])
print(phone_contacts["dabul"])

print(phone_contacts.keys())
print(phone_contacts.values())
# print(phone_contacts.items())

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': 4444}
1111
2222
3333
4444
dict_keys(['abul', 'babul', 'cabul', 'dabul'])
dict_values([1111, 2222, 3333, 4444])

In [26]:
# adding a new phone number of the existing contact
phone_contacts["dabul"] = [4444,5555]
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555]}

In [27]:
# adding a new contact
phone_contacts["fabul"] = 6666
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666}

In [28]:
# updating a dictionary
new_dict = {"gabul":7777}
phone_contacts.update(new_dict)
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666, 'gabul': 7777}

In [29]:
# removing a contact from the phonebook
del phone_contacts["gabul"]
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666}